* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  font-size: 2rem;
  background-color: gray;
}

.container {
  margin: 50px auto;
  width: 80%;
  max-width: 1120px;
}

.d-flex {
  display: flex;
}

button {
  padding: 20px;
  margin-right: 50px;
  background-color: lightblue;
  border: none;
  font-size: 1.5rem;
}

.card {
  padding: 20px;
  margin-top: 60px;
  border: 2px solid gray;
  font-size: 1.5rem;
}
