* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  font-size: 2rem;
  background-color: gray;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  margin: 50px auto;
  width: 80%;
  max-width: 1120px;
}

.d-flex {
  display: flex;
}

button {
  padding: 20px;
  margin-right: 50px;

  border: none;
  font-size: 1.5rem;
}

.card {
  padding: 20px;
  margin-top: 60px;
  border: 2px solid gray;
  font-size: 1.5rem;
}

p {
  margin-top: 10px;
}
.active {
  background-color: aquamarine;
}

.red {
  background-color: red;
}

.col-1 {
  background-color: brown;
}
.col-2 {
  background-color: red;
}
.col-3 {
  background-color: yellow;
}
.col-4 {
  background-color: blue;
}
.col-5 {
  background-color: blueviolet;
}
.col-6 {
  background-color: orange;
}
